{% extends "base.html" %}
{% block content %}
<div id="original_text">
    {{ content.text_ru }}
</div>
<br>
<button id="play_button" disabled="disabled">Play</button>
<button id="pause_button" disabled="disabled">Pause</button>
<button id="stop_button" disabled="disabled">Stop</button>
<br>
<div id="subs">
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='subtitle.bundle.js') }}"></script>
<script>
    const sourceSRT = `
1
00:00:00,000 --> 00:00:04,400
Bla Bla Bla Bla

2
00:00:04,600 --> 00:00:07,800
Blo Blo Blo Blo
`
    
    const parsedSRT = Subtitle.parse(sourceSRT);
    const subs = [];
    for (i = 0; i < parsedSRT.length; i++){
        newSubsChunk = {"timing": parsedSRT[i]["start"], "text": parsedSRT[i]["text"]};
        subs.push(newSubsChunk);
    }

    var subsBlock = document.getElementById("subs");
    audio = new Audio("{{ url_for('text.serve_audio', text_id=content.id) }}");
    audio.volume = 0.5;
    var audioDuration = 0;
    audio.onloadedmetadata = function(){
        audioDuration = audio.duration;
        enableControls()
    }

    var timePassed = 0;
    var subsTimer = null;
    var subsBuffer = [];
    var pause = false;
    var stop = false;
    const INTERVAL_LENGTH = 500;
    const MILLISECONDS_PER_SECOND = 1000

    enableControls = function() {
        document.getElementById("play_button").disabled = false;
        document.getElementById("pause_button").disabled = false;
        document.getElementById("stop_button").disabled = false;
    }

    playFromBeginning = function(){
        timePassed = 0;
        if (subsTimer != null) {
            clearInterval(subsTimer);
        }
        clearSubsBlock()
        subsBuffer = subs.slice()
        pause = false;
        stop = false;
        audio.currentTime = 0;
        subsTimer = setInterval(showNewSubs, INTERVAL_LENGTH);
        audio.play()
        return;
    }

    resumePlaying = function(){
        if (stop) {
            return;
        
        }
        // округляем прошедшее время к предыдущей секунде
        timePassed = timePassed - timePassed % MILLISECONDS_PER_SECOND;
        audio.currentTime = timePassed / MILLISECONDS_PER_SECOND;
        pause = false;
        audio.play()
        return;
    }

    set_pause = function(){
        if (stop) {
            return;
        }
        pause = true;
        audio.pause()
        return;
    }

    stop_playing = function() {
        stop = true;
        pause = false;
        clearSubsBlock()
        audio.pause();
        audio.currentTime  = 0;
        return;
    }
    
    clearSubsBlock = function() {
        child = subsBlock.firstElementChild;
        while (child) {
            subsBlock.removeChild(child);
            child = subsBlock.firstElementChild;
        }
    }

    showNewSubs = function() {
        if (timePassed >= audioDuration || stop){
            clearInterval(subsTimer);
            return;
        }
        if (pause){
            return;
        }
        buffer = []
        while ((subsBuffer.length > 0) && (subsBuffer[0]["timing"] <= timePassed)){
            buffer.push(subsBuffer[0]["text"]);
            subsBuffer.splice(0, 1);
        }
        timePassed += INTERVAL_LENGTH;
        newElement = document.createElement("p");
        newElement.innerText = buffer.join(" ");
        subsBlock.appendChild(newElement);
    }

    playButtonHandler = function() {
        if (!pause) {
            playFromBeginning();
        } else {
            resumePlaying()
        }
        return;
    }

    pauseButtonHandler = function() {
        if (!pause) {
            set_pause();
        } else {
            resumePlaying()
        }
        return;
    }

    stopButtonHandler = function() {
        stop_playing()
        return;
    }

    document.getElementById("play_button").addEventListener("click", playButtonHandler);

    document.getElementById("pause_button").addEventListener("click", pauseButtonHandler);

    document.getElementById("stop_button").addEventListener("click", stopButtonHandler);
</script>
{% endblock %}
