{% extends "base.html" %}
{% block content %}
<h1><p>{{ title }}</p></h1>
    <div class="container bg-light ">
        <span id="a1" class="text">That has been hitting me on the head with his umbrella</span><span id="a2" class="text"> AT 1st i couldn't stay</span><span id="a3" class="text"> Powys avirgin appearance wears a grey suit Umbr.</span></br><span id="a4" class="text"> Umbrella exactly 5 years today</span><span id="a5" class="text"> Now What</span>
    </div>


{% endblock %}
{% block js %}
<style>
    .container {
        min-width: 900px;
        max-width: 900px;
    }
    .text {
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        overflow: hidden;
    }
    .text:before {
        position: absolute;
        height: 1px;
        width: 0%;
        left: 0;
        background: black;
        content: '';
        transition: width 3s linear;
        bottom: -1px;
        
    }
    .text.active:before {
        width: 100%;
    }
</style>
<script src="{{ url_for('static', filename='jquery-3.5.0.js') }}"></script>
<script>
    width = screen.width;
    clientWidth = document.body.clientWidth;
    console.log(width);
    console.log(clientWidth);
    function addActive1() {
        let item = document.querySelector("#a1")
        item.classList.add("active");
    }
    setTimeout(addActive1, 3000);
    function addActive2() {
        let item = document.querySelector("#a2")
        item.classList.add("active");
    }
    setTimeout(addActive2, 6000);
    function addActive3() {
        let item = document.querySelector("#a3")
        item.classList.add("active");
    }
    setTimeout(addActive3, 9000);
    function addActive4() {
        let item = document.querySelector("#a4")
        item.classList.add("active");
    }
    setTimeout(addActive4, 12000);
    function addActive5() {
        let item = document.querySelector("#a5")
        item.classList.add("active");
    }
    setTimeout(addActive5, 15000);
    
    let canvas = document.createElement('canvas')
    let ctx = canvas.getContext('2d')
    ctx.font = '17px Times New Roman'
    console.log(ctx.measureText("That has been hitting me on the head with his umbrella AT 1st i couldn't stay Powys avirgin appearance wears a grey suit Umbr.").width)
</script>
{% endblock %}
